h1{
    font-family: arial;
}

#menu li { 
   
    background: linear-gradient(to bottom, #000066 0%, #3399ff 100%);
    list-style: none; 
   float: left;
    padding: 10px;
    font-family: arial;
}
a{
    color: khaki;
    text-decoration-line: none;
    background: linear-gradient(to bottom, #9966ff 0%, #cc66ff 100%);
    padding: 4px;
}
 
.bg {
   padding-left: 0px;
   display: none;
    float: none;
}
#menu li :hover  .bg{display: block;}
